
* {
    font-family: Arial, Helvetica, sans-serif;
  }


.error{
    color: red;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}