{% extends 'basev2.html' %}

{% block head %}
{% endblock %} 

{% block body %} 
<center>
<div>
    <h1>Contact</h1>
        <table>
            <tr>
                <th>Contact</th>
                <th>Info</th>
            </tr>
            <tr>
                <td></td>
                <td>Lorum ipsum dolor sit amet</td>
            </tr>
            <tr>
                <td></td>
                <td>consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td></td>
                <td>Fusce nec cursus libero</td>
            </tr>
        </table>
</div>
</center>
{% endblock %}