{% extends 'basev2.html' %}

{% block head %}
{% endblock %} 

{% block body %} 
<center>
<div>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <table>
            <tr>
                <td>login</td>
                <td><input type="text" name="login" id="login"></td>
            </tr>
            <tr>
                <td>paswoord</td>
                <td><input type="password" name="paswoord" id="paswoord"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="inloggen"></td>
            </tr>
            <tr>
                <td></td>
                <td><span class="error">{{the_comment}}</span></td>
            </tr>
        </table>
    </form>
</div>
</center>
{% endblock %}