{% extends 'base_Header.html' %}

{% block head %}
{% endblock %} 

{% block body %} 

  <!-- choose us Section -->
  <section class="instructors" id="instructors">
    <div class="section-container">
      <div class="section-header">
        <div class="section-label-2">Why choose us</div>
        <h2 class="section-title-2">Key values to our company</h2>
        <p class="section-description-2">
          we are constantly trying to improve your eperience.
        </p>
      </div>
      <div class="instructors-grid">
        <div class="instructor-card">
          <div ">
            <img src="quality.png" widht="200" height="200" >
          </div>
          <div class="instructor-name">QUALITY</div>
          <div class="instructor-role">Best Value</div>
          <p class="instructor-bio">direct colaboration with UEFA</p>
        </div>
        <div class="instructor-card">
          <div >
            <img src="personell.png"  widht="200" height="200"  >
          </div>
          <div class="instructor-name">PERSONELL</div>
          <div class="instructor-role">A vast team</div>
          <p class="instructor-bio">Ensuring your happiness</p>
        </div>
        <div class="instructor-card">
          <div >
            <img src="innovation.png  "  widht="200" height="200"  >
          </div>
          <div class="instructor-name">INNOVATION</div>
          <div class="instructor-role">Continiously adapting</div>
          <p class="instructor-bio">Making sure you can get your tickets easely</p>
        </div>
        <div class="instructor-card">
          <div >
            <img src="trustworthy.png"  widht="200" height="200" >
          </div>
          <div class="instructor-name">TRUSTWORTHY</div>
          <div class="instructor-role">4.9 customer rating</div>
          <p class="instructor-bio">Direct sale</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}