{% extends 'base_Header.html' %}


{% block head %}
{% endblock %}   

{% block body %} 

<section class="pricing" id="pricing">
    <div class="section-container">
      <div class="section-header" style="margin-top: 30px;">
        <h2 class="section-title">Stadiums</h2>
      </div>
      <div class="pricing-grid">
        
      {% for stadion in stadions %}
        <div class="pricing-card">
          <div class="pricing-name">Stadiums</div>
          <div class="pricing-price">
            <span class="currency"></span>{{stadion.stadion_Naam}}
              <img class="logo" src="/static/img/logos/{{stadion.stadion_Img}}" width="50" height="50" > 
          </div>
          <div class="pricing-billed"></div>
          <div class="pricing-savings"></div>
          <table style="width:100%">
              <tr>
                <td>         
    	            <ul class="pricing-features" style="margin-left:80px ;">
                    <li>{{stadion.stadion_Naam}}</li>
                    <li>{{stadion.aantal_Zetels}}</li>
       	          </ul>
                </td>
                <td>
                  <div class="testimonial-card"  style="float:right ;margin-bottom: 30px ;margin-right: 30px;">
                    <img src="/static/img/stadion/{{stadion.stadion_Img}}" height="250" width="300">
                  </div>
                </td>
              </tr>
            </table>
          <!--<a href="https://www.fcbarcelona.com/en/tickets/camp-nou-experience/4372933/match-day-tour-spotify-camp-nou?hl=en-US&ext=SEM_25-26_P02-7&utm_source=PMax&utm_medium=SEM&utm_campaign=Spotifycampnouexperience_EN_TKT_CNE_EU&gclsrc=aw.ds&gad_source=1&gad_campaignid=22310646874&gbraid=0AAAAAD7wiQb1cH7usm5PKdIrVvqqEo_eH&gclid=CjwKCAjw-8vPBhBbEiwAoA39WukniMJjUjQojwnXY4WUl9dRALqyIY1BmW26enrTLgIGj7O_1_2-VBoCDH4QAvD_BwE" target="blank" class="pricing-btn">See stadium</a>-->
        </div> 
        
        {% endfor %}
        
        </div>
      </div>
    </div>
  </section>

 
{% endblock %}
