{% extends 'base_Header.html' %}

{% block head %}
{% endblock %} 

{% block body %} 
  <!-- choose us Section -->
  <section class="instructors" id="instructors">
    <div class="section-container">
      <div class="section-header">
        <div class="section-label-2">Support</div>
        <h2 class="section-title-2">Contact us</h2>
      </div>
      <div>
        <table>
            <tr>
                <th>Contact</th>
                <th>Info</th>
            </tr>
            <tr>
                <td></td>
                <td>Lorum ipsum dolor sit amet</td>
            </tr>
            <tr>
                <td></td>
                <td>consectetur adipiscing elit</td>
            </tr>
            <tr>
                <td></td>
                <td>Fusce nec cursus libero</td>
            </tr>
        </table>
      </div>
    </div>
  </section>

{% endblock %}